<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>To-Do List</h1>

    <form method="POST" action="/save" class="input-group mb-3">
        <input type="text" name="data" class="form-control" placeholder="Введите название задачи" aria-label="Введите название задачи" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Добавить</button>
        </div>

    </form>


    <ul class="list-group">
        {{range $index, $task := .}}
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="task{{$index}}" name="task{{$index}}" {{if eq $task.Completed true}}checked{{end}}>
                <label class="custom-control-label" for="task{{$index}}">{{$task.Title}}</label>
            </div>
        </li>
        {{end}}
    </ul>
</div>
<!-- Подключаем скрипты Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>